.App {
  height: 100vh;
  background-color: rgb(65, 127, 189);
  color: rgb(42, 44, 56);
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fbfdff;
  padding: 0 !important;
}
